*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#form{
display:flex;
width:100%;
justify-content: center;
align-items: center;
margin-bottom:1em;
}

#form label, #form input{
    margin-right:10px;
}

button{
    margin-left:10px;
}

#container{
    display:flex;
    height: 100vh;
    flex-direction: column;
        justify-content: center;
        align-items: center; 
}


#book-list{
    display:flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    align-items: center;
}

.book-combined{
    display:flex;
    min-width:50%;
    background-color:peachpuff;
    justify-content: space-around;
        align-items: center;
        padding:1em;
        border:none;
        border-radius:20px;
}

.books{
    margin-right:1em;
}